In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

## IMPORT DEV SET

In [2]:
dev_set = pd.read_csv("devsample")

In [30]:
dev_set.shape

(458913, 198)

In [4]:
dev_set.head(5)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_139,D_140,D_141,D_142,D_143,D_144,D_145,count,frac,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,201703.0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,395630,0.094480,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,201712.0,0.861109,0.302357,0.006711,0.819772,0.007966,0.139138,0.000728,0.005235,...,0.008488,0.009377,0.000191,NaN,0.004603,0.003133,0.007844,438910,0.069196,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,201707.0,0.891656,0.000802,0.009997,0.811041,0.003540,NaN,0.009034,0.000626,...,0.009134,0.005561,0.006398,NaN,0.002139,0.003595,0.005110,415602,0.081503,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,201711.0,0.622756,0.001720,0.014539,1.006193,0.000199,0.353720,0.001972,0.008099,...,0.008043,0.005566,0.002389,NaN,0.009833,0.009919,0.007719,434268,0.071439,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,201803.0,0.871900,0.005573,0.007679,0.815746,0.001247,NaN,0.000231,0.005528,...,0.002974,0.004162,0.005764,NaN,0.008154,0.006944,0.000905,458913,0.060536,0

In [5]:
dev_set.pop('count')
dev_set.pop('frac')
dev_set.pop('customer_ID')

0         0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
1         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
2         00001b22f846c82c51f6e3958ccd81970162bae8b007e8...
3         000041bdba6ecadd89a52d11886e8eaaec9325906c9723...
4         00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...
                                ...
458908    ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...
458909    ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...
458910    ffff9984b999fccb2b6127635ed0736dda94e544e67e02...
458911    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
458912    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
Name: customer_ID, Length: 458913, dtype: object

In [6]:
dev_set.shape

(458913, 190)

In [7]:
dev_set.head(5)

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,201703.0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0
1,201712.0,0.861109,0.302357,0.006711,0.819772,0.007966,0.139138,0.000728,0.005235,NaN,...,NaN,NaN,0.008488,0.009377,0.000191,NaN,0.004603,0.003133,0.007844,0
2,201707.0,0.891656,0.000802,0.009997,0.811041,0.003540,NaN,0.009034,0.000626,NaN,...,NaN,NaN,0.009134,0.005561,0.006398,NaN,0.002139,0.003595,0.005110,0
3,201711.0,0.622756,0.001720,0.014539,1.006193,0.000199,0.353720,0.001972,0.008099,NaN,...,NaN,NaN,0.008043,0.005566,0.002389,NaN,0.009833,0.009919,0.007719,0
4,201803.0,0.871900,0.005573,0.007679,0.815746,0.001247,NaN,0.000231,0.005528,NaN,...,NaN,NaN,0.002974,0.004162,0.005764,NaN,0.008154,0.006944,0.000905,0

## CHECK FOR NULL VALUES

In [8]:
dev_set['target'].isnull().sum()

0

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    print(dev_set.dtypes)

S_2       float64
P_2       float64
D_39      float64
B_1       float64
B_2       float64
R_1       float64
S_3       float64
D_41      float64
B_3       float64
D_42      float64
D_43      float64
D_44      float64
B_4       float64
D_45      float64
B_5       float64
R_2       float64
D_46      float64
D_47      float64
D_48      float64
D_49      float64
B_6       float64
B_7       float64
B_8       float64
D_50      float64
D_51      float64
B_9       float64
R_3       float64
D_52      float64
P_3       float64
B_10      float64
D_53      float64
S_5       float64
B_11      float64
S_6       float64
D_54      float64
R_4       float64
S_7       float64
B_12      float64
S_8       float64
D_55      float64
D_56      float64
B_13      float64
R_5       float64
D_58      float64
S_9       float64
B_14      float64
D_59      float64
D_60      float64
D_61      float64
B_15      float64
S_11      float64
D_62      float64
D_63       object
D_64       object
D_65      float64
B_16      float64
B_17      float64
B_18      float64
B_19      float64
D_66      float64
B_20      float64
D_68      float64
S_12      float64
R_6       float64
S_13      float64
B_21      float64
D_69      float64
B_22      float64
D_70      float64
D_71      float64
D_72      float64
S_15      float64
B_23      float64
D_73      float64
P_4       float64
D_74      float64
D_75      float64
D_76      float64
B_24      float64
R_7       float64
D_77      float64
B_25      float64
B_26      float64
D_78      float64
D_79      float64
R_8       float64
R_9       float64
S_16      float64
D_80      float64
R_10      float64
R_11      float64
B_27      float64
D_81      float64
D_82      float64
S_17      float64
R_12      float64
B_28      float64
R_13      float64
D_83      float64
R_14      float64
R_15      float64
D_84      float64
R_16      float64
B_29      float64
B_30      float64
S_18      float64
D_86      float64
D_87      float64
R_17      float64
R_18      float64
D_88      float64
B_31        int64
S_19      float64
R_19      float64
B_32      float64
S_20      float64
R_20      float64
R_21      float64
B_33      float64
D_89      float64
R_22      float64
R_23      float64
D_91      float64
D_92      float64
D_93      float64
D_94      float64
R_24      float64
R_25      float64
D_96      float64
S_22      float64
S_23      float64
S_24      float64
S_25      float64
S_26      float64
D_102     float64
D_103     float64
D_104     float64
D_105     float64
D_106     float64
D_107     float64
B_36      float64
B_37      float64
R_26      float64
R_27      float64
B_38      float64
D_108     float64
D_109     float64
D_110     float64
D_111     float64
B_39      float64
D_112     float64
B_40      float64
S_27      float64
D_113     float64
D_114     float64
D_115     float64
D_116     float64
D_117     float64
D_118     float64
D_119     float64
D_120     float64
D_121     float64
D_122     float64
D_123     float64
D_124     float64
D_125     float64
D_126     float64
D_127     float64
D_128     float64
D_129     float64
B_41      float64
B_42      float64
D_130     float64
D_131     float64
D_132     float64
D_133     float64
R_28      float64
D_134     float64
D_135     float64
D_136     float64
D_137     float64
D_138     float64
D_139     float64
D_140     float64
D_141     float64
D_142     float64
D_143     float64
D_144     float64
D_145     float64
target      int64
dtype: object

GIVEN categorical features are:
* B_30
* B_38
* D_63
* D_64
* D_66
* D_68
* D_114
* D_116
* D_117
* D_120
* D_126

In [10]:
dev_set[['S_2','B_30','B_38','D_63','D_64','D_66','D_68','D_114','D_116','D_117','D_120','D_126']].head(15)

,S_2,B_30,B_38,D_63,D_64,D_66,D_68,D_114,D_116,D_117,D_120,D_126
0,201703.0,0.0,2.0,CR,O,NaN,6.0,1.0,0.0,4.0,0.0,1.0
1,201712.0,0.0,2.0,CO,O,NaN,6.0,1.0,0.0,-1.0,1.0,1.0
2,201707.0,0.0,1.0,CO,R,NaN,6.0,1.0,0.0,-1.0,0.0,1.0
3,201711.0,0.0,2.0,CO,O,NaN,3.0,1.0,0.0,6.0,0.0,1.0
4,201803.0,0.0,1.0,CO,O,1.0,6.0,1.0,0.0,4.0,0.0,1.0
5,201709.0,0.0,2.0,CO,R,NaN,6.0,1.0,0.0,1.0,0.0,1.0
6,201708.0,0.0,1.0,CO,R,NaN,2.0,0.0,0.0,2.0,0.0,0.0
7,201703.0,0.0,3.0,CO,R,NaN,5.0,1.0,0.0,6.0,0.0,1.0
8,201705.0,1.0,6.0,CO,U,1.0,6.0,0.0,0.0,-1.0,0.0,1.0
9,201708.0,0.0,1.0,CO,O,NaN,5.0,1.0,0.0,4.0,0.0,1.0
10,201802.0,0.0,1.0,CO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,201712.0,1.0,5.0,CO,O,NaN,4.0,1.0,0.0,2.0,0.0,1.0
12,201707.0,1.0,4.0,CO,U,NaN,3.0,1.0,0.0,3.0,0.0,1.0
13,201703.0,0.0,2.0,CO,U,NaN,3.0,0.0,0.0,-1.0,0.0,-1.0
14,201706.0,0.0,3.0,CL,U,NaN,4.0,0.0,0.0,4.0,0.0,1.0

## ONE HOT ENCODING

* D_* = Delinquency variables
* S_* = Spend variables
* P_* = Payment variables
* B_* = Balance variables
* R_* = Risk variables

The variables that need one hot encoding are D_63 and D_64

In [11]:
dev_set[['S_2','D_63']].groupby(["D_63"]).count()

         S_2
D_63
CL     34307
CO    344667
CR     74758
XL       629
XM      1510
XZ      3042

In [12]:
dev_set[['S_2','D_64']].groupby(["D_64"]).count()

         S_2
D_64
-1      3340
O     231328
R      67523
U     122710

In [13]:
D_63_dummies = pd.get_dummies(dev_set.D_63)

In [14]:
D_63_dummies.head(10)

   CL  CO  CR  XL  XM  XZ
0   0   0   1   0   0   0
1   0   1   0   0   0   0
2   0   1   0   0   0   0
3   0   1   0   0   0   0
4   0   1   0   0   0   0
5   0   1   0   0   0   0
6   0   1   0   0   0   0
7   0   1   0   0   0   0
8   0   1   0   0   0   0
9   0   1   0   0   0   0

In [15]:
D_64_dummies = pd.get_dummies(dev_set.D_64)

In [16]:
D_64_dummies.head(10)

   -1  O  R  U
0   0  1  0  0
1   0  1  0  0
2   0  0  1  0
3   0  1  0  0
4   0  1  0  0
5   0  0  1  0
6   0  0  1  0
7   0  0  1  0
8   0  0  0  1
9   0  1  0  0

In [17]:
##replace -1 column with A (change column name)
dev_set.rename(columns = {'-1':'A'}, inplace = True)

In [18]:
dev_set=pd.concat([dev_set, D_63_dummies], axis=1)

In [19]:
dev_set=pd.concat([dev_set, D_64_dummies], axis=1)

In [20]:
dev_set

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,CL,CO,CR,XL,XM,XZ,-1,O,R,U
0,201703.0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,0,0,1,0,0,0,0,1,0,0
1,201712.0,0.861109,0.302357,0.006711,0.819772,0.007966,0.139138,0.000728,0.005235,NaN,...,0,1,0,0,0,0,0,1,0,0
2,201707.0,0.891656,0.000802,0.009997,0.811041,0.003540,NaN,0.009034,0.000626,NaN,...,0,1,0,0,0,0,0,0,1,0
3,201711.0,0.622756,0.001720,0.014539,1.006193,0.000199,0.353720,0.001972,0.008099,NaN,...,0,1,0,0,0,0,0,1,0,0
4,201803.0,0.871900,0.005573,0.007679,0.815746,0.001247,NaN,0.000231,0.005528,NaN,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458908,201707.0,0.872287,0.097840,0.021840,1.005753,0.002702,0.132588,0.000518,0.007816,NaN,...,0,1,0,0,0,0,0,0,0,1
458909,201707.0,0.867893,0.030708,0.386487,0.047551,0.005042,0.196412,0.008814,0.291671,NaN,...,0,1,0,0,0,0,0,0,1,0
458910,201712.0,0.795304,0.475011,0.012998,1.005270,0.000870,0.079066,0.009637,0.008872,NaN,...,0,1,0,0,0,0,0,0,0,1
458911,201705.0,0.856096,0.002228,0.007279,0.819109,0.001645,0.321895,0.000972,0.049357,NaN,...,0,1,0,0,0,0,0,0,1,0
458912,201803.0,0.982175,0.002474,0.000077,0.992880,0.000809,0.119165,0.003287,0.014092,NaN,...,1,0,0,0,0,0,0,1,0,0

NOW REMOVE D_63 AND D_64. PLACE TARGET ON THE RIGHMOST COLUMN

In [21]:
dev_set.pop('D_63')

0         CR
1         CO
2         CO
3         CO
4         CO
          ..
458908    CO
458909    CO
458910    CO
458911    CO
458912    CL
Name: D_63, Length: 458913, dtype: object

In [22]:
dev_set.pop('D_64')

0         O
1         O
2         R
3         O
4         O
         ..
458908    U
458909    R
458910    U
458911    R
458912    O
Name: D_64, Length: 458913, dtype: object

In [23]:
target = dev_set.pop('target')

In [24]:
dev_set=pd.concat([dev_set, target], axis=1)

In [25]:
dev_set.head(15)

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,CO,CR,XL,XM,XZ,-1,O,R,U,target
0,201703.0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,0,1,0,0,0,0,1,0,0,0
1,201712.0,0.861109,0.302357,0.006711,0.819772,0.007966,0.139138,0.000728,0.005235,NaN,...,1,0,0,0,0,0,1,0,0,0
2,201707.0,0.891656,0.000802,0.009997,0.811041,0.003540,NaN,0.009034,0.000626,NaN,...,1,0,0,0,0,0,0,1,0,0
3,201711.0,0.622756,0.001720,0.014539,1.006193,0.000199,0.353720,0.001972,0.008099,NaN,...,1,0,0,0,0,0,1,0,0,0
4,201803.0,0.871900,0.005573,0.007679,0.815746,0.001247,NaN,0.000231,0.005528,NaN,...,1,0,0,0,0,0,1,0,0,0
5,201709.0,0.765181,0.009516,0.016580,1.008024,0.001829,0.382216,0.006424,0.002264,NaN,...,1,0,0,0,0,0,0,1,0,0
6,201708.0,0.498521,0.001718,0.061001,0.132639,0.005684,0.258999,0.004656,0.095534,0.147539,...,1,0,0,0,0,0,0,1,0,0
7,201703.0,1.002492,0.508611,0.040674,0.267885,0.004895,0.112576,0.004467,0.040376,NaN,...,1,0,0,0,0,0,0,1,0,0
8,201705.0,0.403615,0.032850,0.940261,0.026016,0.009074,NaN,0.008000,1.175785,NaN,...,1,0,0,0,0,0,0,0,1,1
9,201708.0,0.467701,0.006205,0.005869,0.819957,0.000378,NaN,0.008037,0.008558,NaN,...,1,0,0,0,0,0,1,0,0,1
10,201802.0,0.254523,0.241415,0.097851,1.007578,1.004001,0.162269,0.007868,0.009932,0.054570,...,1,0,0,0,0,0,0,0,0,1
11,201712.0,0.204808,0.272075,0.125709,0.044470,1.501675,0.506284,0.152209,0.273934,NaN,...,1,0,0,0,0,0,1,0,0,1
12,201707.0,0.367708,0.180146,0.946585,0.026192,0.253014,1.148483,0.009947,0.608498,NaN,...,1,0,0,0,0,0,0,0,1,1
13,201703.0,0.921308,0.007927,0.011462,1.000523,0.006457,0.128850,0.001971,0.002894,NaN,...,1,0,0,0,0,0,0,0,1,0
14,201706.0,0.307513,0.007668,0.040111,0.724449,0.008737,0.197057,0.008936,0.034968,NaN,...,0,0,0,0,0,0,0,0,1,0

In [26]:
dev_set.shape

(458913, 198)

In [27]:
dev_set = dev_set.sort_values(by=['S_2'])

In [28]:
dev_set.head(15)

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,CO,CR,XL,XM,XZ,-1,O,R,U,target
0,201703.0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,0,1,0,0,0,0,1,0,0,0
348641,201703.0,0.865491,0.332170,0.017013,1.003540,0.006542,0.094334,0.004101,0.009356,NaN,...,1,0,0,0,0,0,1,0,0,0
438894,201703.0,0.908951,0.244344,0.026205,1.001850,0.001020,0.450903,0.009331,0.007648,NaN,...,0,1,0,0,0,0,0,1,0,0
34547,201703.0,0.296622,0.001383,0.166906,0.021716,0.007638,0.246189,0.005368,0.629763,NaN,...,1,0,0,0,0,0,1,0,0,1
348633,201703.0,0.688031,0.009115,0.007714,0.818732,0.003725,0.148278,0.000385,0.010699,NaN,...,1,0,0,0,0,0,1,0,0,0
89517,201703.0,0.538503,0.004171,0.008586,0.816671,0.002520,NaN,0.005917,0.005969,NaN,...,1,0,0,0,0,0,1,0,0,1
34553,201703.0,NaN,0.009377,0.040929,0.813389,0.009050,0.196467,0.002309,0.005572,0.138601,...,1,0,0,0,0,0,0,0,0,0
232298,201703.0,0.330929,0.007922,0.005067,0.818062,0.009794,NaN,0.004420,0.006139,NaN,...,0,0,0,0,1,0,1,0,0,0
232303,201703.0,0.579283,0.001400,0.012914,1.008020,0.002715,0.088837,0.007506,0.005968,NaN,...,0,0,0,0,0,0,0,1,0,0
34540,201703.0,0.791997,0.007881,0.002617,0.813952,0.002663,NaN,0.003353,0.007211,NaN,...,1,0,0,0,0,0,0,0,1,0
34556,201703.0,0.752895,0.450200,0.235918,0.066745,0.001624,0.132734,0.009755,0.272072,NaN,...,0,0,0,0,0,0,0,0,0,1
232306,201703.0,0.773861,0.564079,0.376746,0.031665,0.003768,0.107926,0.006284,0.426786,NaN,...,0,1,0,0,0,1,0,0,0,0
89505,201703.0,0.597794,0.005284,0.117789,0.009515,0.000222,0.116865,1.027119,0.114190,NaN,...,1,0,0,0,0,0,1,0,0,0
34563,201703.0,0.900774,0.003149,0.049525,0.533272,0.006819,0.105451,0.001407,0.022072,NaN,...,0,0,0,0,0,0,1,0,0,0
232323,201703.0,0.790609,0.210656,0.017485,1.002787,0.003942,0.290325,0.008802,0.005120,NaN,...,1,0,0,0,0,0,1,0,0,0

In [29]:
dev_set.to_csv('Total_data')

In [31]:
test1 = dev_set[dev_set['S_2'] < 201705]

In [32]:
test1.shape

(74070, 198)

In [33]:
test1.head()

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,CO,CR,XL,XM,XZ,-1,O,R,U,target
0,201703.0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,0,1,0,0,0,0,1,0,0,0
348641,201703.0,0.865491,0.332170,0.017013,1.003540,0.006542,0.094334,0.004101,0.009356,NaN,...,1,0,0,0,0,0,1,0,0,0
438894,201703.0,0.908951,0.244344,0.026205,1.001850,0.001020,0.450903,0.009331,0.007648,NaN,...,0,1,0,0,0,0,0,1,0,0
34547,201703.0,0.296622,0.001383,0.166906,0.021716,0.007638,0.246189,0.005368,0.629763,NaN,...,1,0,0,0,0,0,1,0,0,1
348633,201703.0,0.688031,0.009115,0.007714,0.818732,0.003725,0.148278,0.000385,0.010699,NaN,...,1,0,0,0,0,0,1,0,0,0

In [34]:
test2 = dev_set[dev_set['S_2'] > 201801]

In [35]:
test2.shape

(75746, 198)

In [36]:
train1 = dev_set[(dev_set['S_2'] <= 201801) & (dev_set['S_2'] >= 201705)]

In [37]:
train1.shape

(309097, 198)

## EXPORT THE FILES

In [37]:
test1.to_csv('test1', index=False)

In [38]:
test2.to_csv('test2', index=False)

In [39]:
train1.to_csv('train1', index=False)

## XGBOOST

In [38]:
import xgboost as xgb

In [39]:
X_train = train1.drop(['target'], axis = 1)
Y_train = train1['target']
X_test1 = test1.drop(['target'], axis = 1)
Y_test1 = test1['target']
X_test2 = test2.drop(['target'], axis = 1)
Y_test2 = test2['target']

## FEATURE SELECTION

In [40]:
xgb_instance = xgb.XGBClassifier(random_state=7)
model_for_feature_selection = xgb_instance.fit(X_train, Y_train)

In [41]:
feature_importance = {'Feature':X_train.columns,'Importance':model_for_feature_selection.feature_importances_}
feature_importance = pd.DataFrame(feature_importance)
feature_importance.sort_values("Importance", inplace=True,ascending=False)
feature_importance

    Feature  Importance
1       P_2    0.257760
3       B_1    0.052492
25      B_9    0.036349
11     D_44    0.024181
9      D_42    0.021612
..      ...         ...
191      XM    0.000000
109    B_31    0.000000
193      -1    0.000000
154   D_116    0.000000
196       U    0.000000

[197 rows x 2 columns]

In [42]:
xgb_instance2 = xgb.XGBClassifier(n_estimators = 300, learning_rate = 0.5, max_depth = 4, subsample = 0.5, colsample_bytree = 0.5, scale_pos_weight = 5, random_state = 17)
model_for_feature_selection2 = xgb_instance2.fit(X_train, Y_train)
feature_importance2 = {'Feature':X_train.columns,'Importance':model_for_feature_selection2.feature_importances_}
feature_importance2 = pd.DataFrame(feature_importance2)
feature_importance2.sort_values("Importance", inplace=True,ascending=False)
feature_importance2

    Feature  Importance
1       P_2    0.133552
29     B_10    0.076515
48     D_61    0.027351
9      D_42    0.026594
32     B_11    0.022255
..      ...         ...
191      XM    0.000000
192      XZ    0.000000
193      -1    0.000000
109    B_31    0.000000
145   D_110    0.000000

[197 rows x 2 columns]

In [43]:
feature_importance[feature_importance['Importance']>0.005]

    Feature  Importance
1       P_2    0.257760
3       B_1    0.052492
25      B_9    0.036349
11     D_44    0.024181
9      D_42    0.021612
8       B_3    0.016491
6       S_3    0.015957
13     D_45    0.015669
18     D_48    0.013840
24     D_51    0.013639
5       R_1    0.013215
21      B_7    0.013113
57     D_66    0.010441
141    R_27    0.009783
10     D_43    0.009291
4       B_2    0.009085
32     B_11    0.009062
23     D_50    0.008541
142    B_38    0.008226
172   D_132    0.007904
12      B_4    0.007736
7      D_41    0.007392
128    S_23    0.006901
51     D_62    0.006707
147    B_39    0.006606
74     D_75    0.006572
78     D_77    0.006466
55     B_18    0.006413
16     D_46    0.006209
14      B_5    0.005994
26      R_3    0.005679
19     D_49    0.005586
140    R_26    0.005582
40     D_56    0.005486
188      CO    0.005210
0       S_2    0.005023
20      B_6    0.005006

In [44]:
feature_importance2[feature_importance2['Importance']>0.005]

    Feature  Importance
1       P_2    0.133552
29     B_10    0.076515
48     D_61    0.027351
9      D_42    0.026594
32     B_11    0.022255
3       B_1    0.020898
25      B_9    0.017497
13     D_45    0.016502
142    B_38    0.016240
140    R_26    0.015642
57     D_66    0.014512
27     D_52    0.013511
8       B_3    0.012576
6       S_3    0.011491
36      S_7    0.011386
19     D_49    0.011184
10     D_43    0.011108
74     D_75    0.009603
172   D_132    0.008531
194       O    0.008388
11     D_44    0.007226
23     D_50    0.007019
5       R_1    0.006953
39     D_55    0.006898
147    B_39    0.006838
148   D_112    0.006631
24     D_51    0.005817
16     D_46    0.005653
28      P_3    0.005344
51     D_62    0.005200
40     D_56    0.005005

In [49]:
final_features_default = feature_importance[feature_importance.Importance > 0.005]

In [50]:
final_features_parameters = feature_importance2[feature_importance2.Importance > 0.005]

In [52]:
final_features_default.to_csv('feature1')

In [53]:
final_features_parameters.to_csv('feature2')

In [45]:
final_features1 = feature_importance["Feature"][feature_importance.Importance > 0.005]

In [46]:
final_features2 = feature_importance2["Feature"][feature_importance2.Importance > 0.005]

In [51]:
final_feature = pd.concat([final_features1,final_features2])

In [52]:
final_feature = final_feature.unique()

In [53]:
final_features1.shape

(37,)

In [54]:
final_features2.shape

(31,)

In [55]:
final_feature.shape

(45,)

In [56]:
X_train = X_train[final_feature]
X_test1 = X_test1[final_feature]
X_test2 = X_test2[final_feature]

In [57]:
X_train.head(10)

,P_2,B_1,B_9,D_44,D_42,B_3,S_3,D_45,D_48,D_51,...,S_2,B_6,B_10,D_61,D_52,S_7,O,D_55,D_112,P_3
106669,0.831622,0.001073,0.002065,0.006533,NaN,0.007309,NaN,0.320768,0.023700,0.342399,...,201705.0,0.131650,0.297613,0.020038,0.388173,NaN,0,0.045015,1.002177,0.624031
94932,0.356131,0.434504,0.664038,0.506712,NaN,0.535326,0.185023,0.366323,0.969462,0.000450,...,201705.0,0.011664,0.045411,1.006224,0.034114,0.148782,0,0.901045,0.008407,0.770095
376667,1.007714,0.028340,0.007222,0.006935,NaN,0.006013,0.024037,0.700798,0.035438,1.333454,...,201705.0,0.198684,0.300508,0.030544,0.276372,0.033754,1,0.023020,1.002950,0.639568
195835,0.567601,0.238893,0.454560,0.006848,NaN,0.264823,0.121021,0.047450,0.443533,0.004662,...,201705.0,0.029079,0.055822,0.501846,0.094042,0.092767,1,0.571485,1.008441,0.651428
100931,0.461035,0.103340,0.285114,0.129193,NaN,0.194580,0.509922,0.061285,0.515588,0.004358,...,201705.0,0.029273,0.050712,0.542049,0.099400,0.437193,0,0.277744,1.007595,0.359532
195792,0.660548,0.009803,0.003485,0.257184,NaN,0.008609,0.327708,0.330701,0.512081,0.000895,...,201705.0,0.059828,0.082846,0.557716,0.243817,0.247357,1,0.596888,1.006636,0.626717
220595,0.512136,0.171045,0.434435,0.256981,NaN,0.185982,0.093613,0.049693,0.690208,0.001738,...,201705.0,0.013593,0.024425,0.803340,0.053015,0.069922,0,0.648004,0.011151,0.718944
196643,0.957867,0.006939,0.000152,0.008885,NaN,0.005329,NaN,0.933973,0.138583,0.333921,...,201705.0,0.204790,0.300067,0.136549,0.184682,NaN,1,0.165633,1.003817,0.876851
195784,0.581711,0.012617,0.002218,0.129221,NaN,0.008878,0.078972,0.045646,0.766373,0.334974,...,201705.0,0.082073,0.068989,0.773967,0.248615,0.074532,1,0.459202,1.002236,0.632392
211538,0.415890,0.051410,0.006444,0.126293,NaN,0.006460,0.143077,0.118034,0.392211,0.335129,...,201705.0,0.109118,0.212858,0.324507,0.055206,0.095227,0,0.301510,1.001677,0.466186

In [58]:
X_train.shape

(309097, 45)

In [59]:
X_test1.head(10)

,P_2,B_1,B_9,D_44,D_42,B_3,S_3,D_45,D_48,D_51,...,S_2,B_6,B_10,D_61,D_52,S_7,O,D_55,D_112,P_3
0,0.938469,0.008724,0.008207,0.000630,NaN,0.004709,0.124035,0.708906,0.255736,1.335856,...,201703.0,0.063902,0.096219,0.308233,0.207334,0.161345,1,0.354596,1.007336,0.736463
348641,0.865491,0.017013,0.015216,0.007827,NaN,0.009356,0.094334,0.221665,0.074410,0.670573,...,201703.0,0.175040,0.299979,0.081322,0.439342,0.061494,1,0.081542,1.001776,0.643930
438894,0.908951,0.026205,0.000423,0.004060,NaN,0.007648,0.450903,0.639124,0.024605,0.006345,...,201703.0,0.154660,0.297678,0.027045,0.218064,0.454965,0,0.046631,1.006755,0.712840
34547,0.296622,0.166906,0.605279,0.380032,NaN,0.629763,0.246189,0.301320,0.934939,0.004867,...,201703.0,0.004924,0.018741,0.914208,0.031082,0.166743,1,0.899729,1.000059,0.510503
348633,0.688031,0.007714,0.000953,0.001556,NaN,0.010699,0.148278,0.295369,NaN,0.000881,...,201703.0,0.153139,0.302372,NaN,0.239804,0.103204,1,0.040528,1.008196,0.552836
89517,0.538503,0.008586,0.001803,0.252418,NaN,0.005969,NaN,0.070005,0.429490,0.004641,...,201703.0,0.014596,0.036235,0.915840,0.065296,NaN,1,0.437089,1.002732,0.639678
34553,NaN,0.040929,0.090465,NaN,0.138601,0.005572,0.196467,0.002912,NaN,0.003650,...,201703.0,0.178002,0.242174,0.269009,NaN,0.141488,0,NaN,1.003216,NaN
232298,0.330929,0.005067,0.005174,0.381140,NaN,0.006139,NaN,0.461506,0.792589,0.004687,...,201703.0,0.009902,0.013977,0.899778,0.200878,NaN,1,0.987990,0.020115,0.832513
232303,0.579283,0.012914,0.040007,0.009980,NaN,0.005968,0.088837,0.558774,0.316594,0.007415,...,201703.0,0.097359,0.149387,0.283841,0.169113,0.055874,0,0.258256,1.000083,0.618198
34540,0.791997,0.002617,0.006421,0.009452,NaN,0.007211,NaN,0.297653,0.398875,0.003859,...,201703.0,0.020167,0.031538,0.620719,0.196518,NaN,0,0.537136,1.003101,0.599263

In [60]:
X_test2.head(10)

,P_2,B_1,B_9,D_44,D_42,B_3,S_3,D_45,D_48,D_51,...,S_2,B_6,B_10,D_61,D_52,S_7,O,D_55,D_112,P_3
227151,0.668094,0.458564,0.667993,0.133904,NaN,0.334927,0.538491,0.103864,0.626887,0.009884,...,201802.0,0.010332,0.010245,0.926653,0.076106,0.457081,1,0.597964,1.009997,0.618889
148653,0.896509,0.003852,0.004899,0.003906,NaN,0.002179,NaN,0.422604,0.033743,0.002639,...,201802.0,0.215212,0.293721,0.037294,0.068421,NaN,1,0.027595,1.000168,0.646726
152073,0.412922,0.494850,0.643951,0.506555,NaN,0.931195,0.157808,0.061725,0.919327,0.005786,...,201802.0,0.007850,0.015013,0.898326,0.045186,0.101974,0,0.811708,1.004607,0.650838
152194,1.001667,0.004584,0.000870,0.006615,NaN,0.010602,0.182692,0.473836,0.022484,0.339042,...,201802.0,0.165992,0.294408,0.024889,0.184134,0.112482,1,0.037072,1.009943,0.724129
296392,0.778748,0.023771,0.015591,0.000094,NaN,0.034865,0.180929,0.052512,0.086994,0.334797,...,201802.0,0.087482,0.164241,0.124744,0.278968,0.204161,0,0.070156,1.001108,0.744356
441921,0.313381,0.056942,0.638110,0.384830,0.335875,0.173742,0.447951,0.020272,0.714279,0.001419,...,201802.0,0.009108,0.017297,0.475596,0.041864,0.425392,0,0.407108,1.003891,0.504824
7409,0.416524,0.140782,0.546943,0.503272,NaN,0.431422,0.135650,0.167422,0.828733,0.005406,...,201802.0,0.015363,0.017442,0.768093,0.246110,0.094818,0,0.990964,0.000388,0.554626
274103,0.578412,0.644260,0.298998,0.133756,NaN,0.564937,0.119419,0.838049,0.487342,0.003062,...,201802.0,0.008494,0.018744,0.536578,0.145896,0.079889,1,0.533927,0.003208,0.626445
33414,0.599788,0.068695,0.120126,0.005773,NaN,0.144096,0.128249,0.036439,0.016178,0.336180,...,201802.0,0.075762,0.047398,0.013892,0.163312,0.177711,1,0.133001,1.000287,0.733408
314111,0.291369,0.252624,0.637777,0.003602,NaN,0.234197,0.274311,0.471396,NaN,0.002452,...,201802.0,0.014126,0.009835,NaN,-0.003238,0.292898,0,NaN,1.004761,0.594006

In [61]:
X_test1.shape

(74070, 45)

In [62]:
X_test2.shape

(75746, 45)

## GRID SEARCH

In [66]:
from sklearn.metrics import roc_auc_score
table = pd.DataFrame(columns = ["Num Trees", "Learning Rate", "Subsample", "% in each tree", "Default weight", "AUC Train", "AUC Test 1", "AUC Test 2"])

row = 0
for num_trees in [50, 100, 300]:
  for LR in [0.01, 0.1]:
    for SS in [0.5, 0.8]:
        for sam in [0.5,1]:
            for wgts in [1,5,10]:
                xgb_instance = xgb.XGBClassifier(n_estimators=num_trees, learning_rate = LR ,subsample = SS, colsample_bytree = sam, scale_pos_weight = wgts )
                model = xgb_instance.fit(X_train, Y_train)
                table.loc[row,"Num Trees"] = num_trees
                table.loc[row,"Learning Rate"] = LR
                table.loc[row,"Subsample"] = SS
                table.loc[row,"% in each tree"] = sam
                table.loc[row,"Default weight"] = wgts
                table.loc[row,"AUC Train"] = roc_auc_score(train1['target'], model.predict_proba(X_train)[:,1])
                table.loc[row,"AUC Test 1"] = roc_auc_score(test1['target'], model.predict_proba(X_test1)[:,1])
                table.loc[row,"AUC Test 2"] = roc_auc_score(test2['target'], model.predict_proba(X_test2)[:,1])

                row = row + 1

table

,Num Trees,Learning Rate,Subsample,% in each tree,Default weight,AUC Train,AUC Test 1,AUC Test 2
0,50,0.01,0.5,0.5,1,0.924383,0.910554,0.930317
1,50,0.01,0.5,0.5,5,0.922059,0.909445,0.926854
2,50,0.01,0.5,0.5,10,0.920455,0.907788,0.924853
3,50,0.01,0.5,1,1,0.920976,0.906585,0.927179
4,50,0.01,0.5,1,5,0.91902,0.905951,0.924681
...,...,...,...,...,...,...,...,...
67,300,0.1,0.8,0.5,5,0.948153,0.920863,0.940758
68,300,0.1,0.8,0.5,10,0.947046,0.920384,0.940335
69,300,0.1,0.8,1,1,0.950512,0.920994,0.941299
70,300,0.1,0.8,1,5,0.949749,0.920539,0.940441
71,300,0.1,0.8,1,10,0.948561,0.920085,0.939625

In [67]:
table.to_csv('xgboost_data',index =False)

In [47]:
final_features1.to_csv('features_default',index = False)

In [48]:
final_features2.to_csv('features_parameters',index = False)

In [ ]:
final_feature = pd.DataFrame(final_feature)

In [ ]:
final_feature.to_csv('final_features',index = False)

In [72]:
table.head(35)

,Num Trees,Learning Rate,Subsample,% in each tree,Default weight,AUC Train,AUC Test 1,AUC Test 2
0,50,0.01,0.5,0.5,1,0.924383,0.910554,0.930317
1,50,0.01,0.5,0.5,5,0.922059,0.909445,0.926854
2,50,0.01,0.5,0.5,10,0.920455,0.907788,0.924853
3,50,0.01,0.5,1,1,0.920976,0.906585,0.927179
4,50,0.01,0.5,1,5,0.91902,0.905951,0.924681
5,50,0.01,0.5,1,10,0.917383,0.904285,0.922868
6,50,0.01,0.8,0.5,1,0.92438,0.910472,0.930057
7,50,0.01,0.8,0.5,5,0.922262,0.909265,0.926794
8,50,0.01,0.8,0.5,10,0.920609,0.907788,0.924987
9,50,0.01,0.8,1,1,0.920383,0.905842,0.926214
10,50,0.01,0.8,1,5,0.918738,0.905414,0.924131
11,50,0.01,0.8,1,10,0.917048,0.903699,0.922385
12,50,0.1,0.5,0.5,1,0.933866,0.91816,0.938342
13,50,0.1,0.5,0.5,5,0.933435,0.918178,0.937731
14,50,0.1,0.5,0.5,10,0.932866,0.917553,0.937082
15,50,0.1,0.5,1,1,0.933951,0.917714,0.938176
16,50,0.1,0.5,1,5,0.933904,0.918095,0.937701
17,50,0.1,0.5,1,10,0.933132,0.917474,0.937004
18,50,0.1,0.8,0.5,1,0.934258,0.918173,0.93826
19,50,0.1,0.8,0.5,5,0.933882,0.918156,0.937881
20,50,0.1,0.8,0.5,10,0.933343,0.917591,0.937516
21,50,0.1,0.8,1,1,0.934433,0.917898,0.938077
22,50,0.1,0.8,1,5,0.934165,0.918144,0.93799
23,50,0.1,0.8,1,10,0.933616,0.917506,0.937195
24,100,0.01,0.5,0.5,1,0.926182,0.911918,0.932341
25,100,0.01,0.5,0.5,5,0.924318,0.9111,0.929582
26,100,0.01,0.5,0.5,10,0.922926,0.909861,0.927756
27,100,0.01,0.5,1,1,0.923833,0.909301,0.92984
28,100,0.01,0.5,1,5,0.921637,0.908237,0.92708
29,100,0.01,0.5,1,10,0.920166,0.906897,0.925477
30,100,0.01,0.8,0.5,1,0.926187,0.911782,0.932103
31,100,0.01,0.8,0.5,5,0.924449,0.91095,0.929435
32,100,0.01,0.8,0.5,10,0.922983,0.909814,0.927585
33,100,0.01,0.8,1,1,0.923558,0.908932,0.9293
34,100,0.01,0.8,1,5,0.921384,0.907797,0.926704

In [73]:
table2 = table[table['AUC Train']>0.94]

In [74]:
table2

,Num Trees,Learning Rate,Subsample,% in each tree,Default weight,AUC Train,AUC Test 1,AUC Test 2
60,300,0.1,0.5,0.5,1,0.947809,0.920479,0.940708
61,300,0.1,0.5,0.5,5,0.946853,0.919901,0.940046
62,300,0.1,0.5,0.5,10,0.946004,0.91973,0.939374
63,300,0.1,0.5,1,1,0.949268,0.920069,0.940641
64,300,0.1,0.5,1,5,0.948386,0.920199,0.939757
65,300,0.1,0.5,1,10,0.946975,0.919494,0.939128
66,300,0.1,0.8,0.5,1,0.948712,0.92089,0.94124
67,300,0.1,0.8,0.5,5,0.948153,0.920863,0.940758
68,300,0.1,0.8,0.5,10,0.947046,0.920384,0.940335
69,300,0.1,0.8,1,1,0.950512,0.920994,0.941299
70,300,0.1,0.8,1,5,0.949749,0.920539,0.940441
71,300,0.1,0.8,1,10,0.948561,0.920085,0.939625